.mt{
    margin: 40px;
    background-color: rgb(43, 40, 35);
    border-radius: 10px;

    
}

.card{
    background-color: rgb(255, 236, 213);
    display: flex;
    justify-content: space-between;
    margin: 10px;

}

.img {
    border-radius: 25px;
}

